*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: s;
    src:url(FONTS/gameOfSquids.ttf) ;
}
@font-face {
    font-family: n;
    src: url(FONTS/BebasNeue.otf);
}

#section1,#episodes{
    height: 100vh;
    width: 100%;
    background-color: black;
    
}
i{
    color: white;
    font-size: 1.6;
}
header{
    height: 10vh;
    width: 100%;
    padding: 2rem;
    position: fixed;
}
.navbar{
    display: flex;
    justify-content: space-between;
}
.menu ul{
    display: flex;
    gap: 4rem;
    list-style: none;
}
.menu ul li a{
text-decoration: none; 
color: white;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;

}
.contact{
    color: red;
    font-family: n;
    font-size: 2.5rem;
    
}
.text-container{
    height: 80vh;
    width: 100%;
    color: white;
    position: relative;
   

}
.content{
  height: 80vh;
    width: 100%;
    color: white;
    position: relative;
     font-family: s;
  
}
.content p{
 font-family: s;
 font-size: 11rem;
 position: absolute;
 z-index:1;
}
.text-container img{
   height: 90vh;
   z-index:100;
 position: absolute;
 top: 13%;
 z-index: 100;
 box-shadow: rgba(0,0,0,0,0.1);
 left: 10%;
}
.left{
    position: absolute;
    top: 20%;
    left: 8%;
    z-index: 1;
}
.content .right{
    position: absolute;
    right: 10%;
    top: 50%;
}



.footer{
    height: 10vh;
}
.text-container .content .right{
    position: absolute;
    top: 50%;

}

#section1 .footer{
    height: 30vh;
  position: relative;
    bottom: 0;
    z-index: 10;
    background: #000;
    color: white;
    padding:4rem 5rem;
}
.footer .r{
    position: absolute;
    right: 3rem;
}
.menu ul li a:focus{
color: red;
}
#episodes{
    background: url("images/episodes-bg.jpg");
    object-fit: contain;
    background-size: cover;
    height:110vh;
    

}
.bg{
    background-color: black;
    height: 100%;
    opacity: .8;
}
.swiper-wrapper{
position: absolute;
   top: 0;
   right: 0;  
}